$base-color: #6b1752;
$base-color-dark: #3d0029;
$base-color-light: #9c477e;
$base-color-lighter: #cf76ad;
$white-color: #fff;
$black-color: #000;
$gray-color: #808080;
$gray-color-light: #d3d3d3;
